@font-face {
  font-family: very-very-punk;
  src: url("/assets/fonts/Very_very_punk_font.otf") format("opentype");
}
body {
  overflow: hidden;
}

#yatzy {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "player1-container header-container player2-container" "player1-container yatzy-container player2-container" "player1-container . player2-container";
  width: 100%;
  height: 100%;
  background: #121e29;
  --gap:5em;
  --line:1px;
  --color:rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(-90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)), linear-gradient(0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap));
  background-size: var(--gap) var(--gap);
}
#yatzy #player1-container {
  grid-area: player1-container;
}
#yatzy #player2-container {
  grid-area: player2-container;
}
#yatzy #player2-container, #yatzy #player1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#yatzy #player2-container button, #yatzy #player1-container button {
  width: 30%;
  height: 4%;
  border: none;
  background-color: #E5D8B3;
  color: #333333;
}
#yatzy #player2-container button:hover, #yatzy #player1-container button:hover {
  background-color: #D4B483;
}
#yatzy #player2-container .lockedScore, #yatzy #player1-container .lockedScore {
  background-color: #E67A47;
}
#yatzy #player2-container .lockedScore:hover, #yatzy #player1-container .lockedScore:hover {
  background-color: #E67A47;
}
#yatzy #header-container {
  grid-area: header-container;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yatzy #header-container #playerActive {
  color: #D4B483;
}
#yatzy .yatzy-container {
  grid-area: yatzy-container;
  background-color: #E5D8B3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5fr 1fr;
  grid-template-areas: "dice-container" "button-container";
}
#yatzy .yatzy-container .dice-container {
  grid-area: dice-container;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#yatzy .yatzy-container .dice-container .dice {
  width: 13%;
  background-color: #E5D8B3;
}
#yatzy .yatzy-container .dice-container .locked {
  background-color: rgba(146, 0, 0, 0.4745098039);
  border-radius: 14%;
}
#yatzy .yatzy-container .button-container {
  grid-area: button-container;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E67A47;
  color: #333333;
  gap: 5%;
}

#hangman {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: ". . . ." ". guess-container visual-container ." ". . . .";
  width: 100%;
  height: 100%;
  --s:84px;
  --c1:#f2f2f2;
  --c2:#cdcbcc;
  --c3:#999999;
  --_g:0 120deg, #0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
}
#hangman #guess-container {
  grid-area: guess-container;
  background-color: #143109;
  color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#hangman #guess-container p {
  margin: 5px 0;
}
#hangman #guess-container label {
  font-weight: bold;
}
#hangman #guess-container input {
  width: 50px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #AAAE7F;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  background-color: #F7F7F7;
  color: #143109;
}
#hangman #guess-container input:focus {
  border-color: #AAAE7F;
}
#hangman #guess-container #guessedLetters {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #AAAE7F;
}
#hangman #visual-container {
  grid-area: visual-container;
  background-color: #AAAE7F;
  color: #143109;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#ticTacToe {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: ". . ." ". game-container . " ". reset-container .";
  width: 100%;
  height: 100%;
  --s:200px;
  /* control the size */
  --c1:#1d1d1d;
  --c2:#4e4f51;
  --c3:#3c3c3c;
  background: repeating-conic-gradient(from 30deg, rgba(0, 0, 0, 0) 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577), repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
}
#ticTacToe #game-container {
  grid-area: game-container;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1%;
  background-color: rgb(206, 206, 206);
}
#ticTacToe #game-container .input-box {
  width: 31.5%;
  height: 32%;
  font-family: very-very-punk;
}
#ticTacToe #reset-container {
  grid-area: reset-container;
  display: flex;
  justify-content: center;
  align-items: center;
}

#feedback {
  background-color: white;
}/*# sourceMappingURL=style.css.map */