$red: rgb(196, 3, 3)
$buttonColor: rgb(206, 206, 206)
$lockedButtonColor: rgb(164, 164, 164)

body
    overflow: hidden

#yatzy
    height: 100vh
    min-height: 100vh
    display: grid

    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 1fr 3fr 1fr
    grid-template-areas: "player1-container header-container player2-container" "player1-container yatzy-container player2-container" "player1-container . player2-container"

    #player1-container
        grid-area: player1-container
    
    #player2-container
        grid-area: player2-container

    #player2-container, #player1-container
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        button
            width: 30%
            height: 4%
            border: none

            &:hover
                background-color: $buttonColor
            
        .lockedScore
            background-color: $lockedButtonColor

            &:hover
                background-color: $lockedButtonColor
    
    #header-container
        grid-area: header-container

        display: flex
        justify-content: center
        align-items: center

        #playerActive
            color: $red

    .yatzy-container
        grid-area: yatzy-container
        background-color: rgb(1, 200 , 45)

        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 2.5fr 1fr
        grid-template-areas: "dice-container" "button-container" 


        .dice-container
            grid-area: dice-container
            display: flex
            justify-content: center
            align-items: center

            .dice
                width: 10%
            
            .locked
                background-color: $red
        
        .button-container
            grid-area: button-container
