$red: rgb(196, 3, 3)
$buttonColor: rgb(206, 206, 206)
$lockedButtonColor: rgb(164, 164, 164)
$tan: rgb(210, 180, 140)

// Fonts
@font-face 
    font-family: custom-font
    src: url("/assets/fonts/Very_very_punk_font.otf") format("opentype")

body
    overflow: hidden

#yatzy
    height: 100vh
    min-height: 100vh
    display: grid

    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 1fr 3fr 1fr
    grid-template-areas: "player1-container header-container player2-container" "player1-container yatzy-container player2-container" "player1-container . player2-container"

    #player1-container
        grid-area: player1-container
    
    #player2-container
        grid-area: player2-container

    #player2-container, #player1-container
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        button
            width: 30%
            height: 4%
            border: none

            &:hover
                background-color: $buttonColor
            
        .lockedScore
            background-color: $lockedButtonColor

            &:hover
                background-color: $lockedButtonColor
    
    #header-container
        grid-area: header-container

        display: flex
        justify-content: center
        align-items: center

        #playerActive
            color: $red

    .yatzy-container
        grid-area: yatzy-container
        background-color: rgb(1, 200 , 45)

        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 2.5fr 1fr
        grid-template-areas: "dice-container" "button-container" 


        .dice-container
            grid-area: dice-container
            display: flex
            justify-content: center
            align-items: center

            .dice
                width: 10%
            
            .locked
                background-color: $red
        
        .button-container
            grid-area: button-container

#hangman
    height: 100vh
    min-height: 100vh
    display: grid
    grid-template-columns: 1fr 3fr 3fr 1fr
    grid-template-rows: 1fr 5fr 1fr

    grid-template-areas: ". . . ." ". guess-container visual-container ." ". . . ."

    #guess-container
        grid-area: guess-container
        background-color: $buttonColor
    
    #visual-container
        grid-area: visual-container
        background-color: $red 
    
#ticTacToe
    height: 100vh
    min-height: 100vh
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 1fr 5fr 1fr

    grid-template-areas: ". . ." ". game-container . " ". reset-container ." 
    
    width: 100%
    height: 100%
    --s:200px

    /* control the size
    --c1:#1d1d1d
    --c2:#4e4f51
    --c3:#3c3c3c
    background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577), repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg)
    background-size: var(--s) calc(var(--s) * 0.577)

    #game-container
        grid-area: game-container

        display: flex
        justify-content: center
        align-content: center
        flex-wrap: wrap
        gap: 1%

        background-color: $buttonColor

        .input-box 
            width: 31.5%
            height: 32%

            font-family: custom-font
    
    #reset-container
        grid-area: reset-container
        display: flex
        justify-content: center
        align-items: center

#feedback
    background-color: white